.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.react-datepicker__input-container > button {
    width: 250px;
}

.date__range-text {
    padding: 5px;
}

.date__range-text > span {
    color: #9898e3;
    text-decoration: underline;
}


@media screen and (max-width: 609px) {
    .react-datepicker__input-container > button {
        width: 65px;
    }
}
